@import "~bootstrap/scss/bootstrap";

html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    background-color: rgb(215, 215, 215);
}
main {
    min-height: 100vh;
}
.icon_sm {
    width: 1.4rem;
}
.btn-lightGray {
    color: #000;
    background-color: #f8f9fa;
    border: none; 
}